// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &lh_pht LGUI k1  &lh_pht LALT k2  &lh_pht LSHFT k3  &lh_pht LCTRL k4
#define HRMR(k1,k2,k3,k4) &rh_pht RCTRL k1  &rh_pht RSHFT k2  &rh_pht RALT k3  &rh_pht RGUI k4

/ {
    behaviors {
        lh_pht: left_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;    // <---[[right-hand keys]]
            hold-trigger-on-release;
        };

        rh_pht: right_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;    // <---[[left-hand keys]]
            hold-trigger-on-release;
        };

        sft_c: shift_comma {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_COMMA";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp FSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };        

        sft_d: shift_dot {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_DOT";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp N1>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        
        bs_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lt_bspc: layer_tap_bs_del {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_BACKSPACE_DELETE";
            #binding-cells = <2>;
            bindings = <&mo>, <&bs_del>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │ ; :      │
            &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │ O        │
            HRML(A,        R,         S,         T)     &kp G          &kp M      HRMR(N,        E,         I,        O)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │ , ?      │ . !      │ ' "      │ 
            &kp Z      &kp X      &kp C      &kp D      &kp V          &kp K      &kp H      &sft_c     &sft_d     &kp QUOT 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &lt 2 TAB   &kp ENTER     &kp SPACE  &lt_bspc 1 0  // SFT + BSPC = DEL
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ ESC      │  7       │  8       │  9       │          │   │ MUTE     │ VOL DN   │ VOL UP   │ BRT DN   │ BRT UP   │
            &kp ESC    &kp N7     &kp N8     &kp N9     &trans       &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp C_BRI_DN &kp C_BRI_UP
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ 0        │  4       │  5       │  6       │          │   │ PAGE UP  │ LEFT     │ DOWN     │ UP       │ RIGHT    │
            HRML(N0,       N4,         N5,        N6)   &trans         &kp PG_UP  &kp LARW   &kp DARW   &kp UARW   &kp RARW   
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CAPS LOCK│  1       │  2       │  3       │          │   │ PAGE DN  │PLAY PAUSE│ HOME     │ END      │ INSERT   │
            &kp CAPS   &kp N1     &kp N2     &kp N3     &trans         &kp PG_DN  &kp C_PP   &kp HOME   &kp END    &kp INS
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ~       │  `       │  /       │  *       │          │   │          │  [       │  ]       │  <       │  >       │
            &kp TILDE  &kp GRAVE  &kp FSLH   &kp ASTRK  &trans         &trans     &kp LBKT   &kp RBKT   &kp LT     &kp GT 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  @       │  #       │  -       │  +       │          │   │          │  (       │  )       │  {       │  }       │
            &kp AT     &kp HASH   &kp MINUS  &kp PLUS   &trans         &trans     &kp LPAR   &kp RPAR   &kp LBRC   &kp RBRC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  $       │  %       │  _       │  =       │          │   │          │  &       │  |       │  \       │  ^       │
            &kp DLLR   &kp PRCNT  &kp UNDER  &kp EQUAL  &trans         &trans     &kp AMPS   &kp PIPE   &kp BSLH   &kp CARET
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │          │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &kp F1     &kp F2     &kp F3     &kp F4     &tog 4
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ GUI      │ ALT      │ SHIFT    │ CTRL     │PROFILE 1 │   │          │          │          │          │ RESET    │
           &kp LGUI   &kp LALT   &kp LSHFT  &kp LCTRL  &bt BT_SEL 1    &kp F5     &kp F6     &kp F7     &kp F8     &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &kp F9     &kp F10    &kp F11    &kp F12   &bootloader
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        gaming_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ TAB      │ Q        │ E        │ C        │ B        │   │          │          │          │          │          │
            &kp TAB    &kp Q      &kp E      &kp C      &kp B          &kp T      &kp Y      &kp N1     &kp N2     &tog 4
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ SHIFT    │ A        │ W        │ D        │ F        │   │          │ LEFT     │ UP       │ RIGHT    │          │
            &kp LSHFT  &kp A      &kp W      &kp D      &kp F          &kp Z      &kp LARW   &kp UARW   &kp RARW   &kp N3
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CTRL     │ R        │ S        │ X        │ M        │   │          │          │ DOWN     │          │          │
            &kp LCTRL  &kp R      &kp S      &kp X      &kp M          &kp N5     &kp N6     &kp DARW   &kp N7     &kp N8
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &kp N4    &kp SPACE       &kp N9     &kp N0
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
